<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
       <h1>
         <%= gravatar_for @user %>
         <%= @user.name %>
         <%= link_to 'Taste a Beer', new_beer_path, class: "btn-lg btn-primary btn-block"%>
         <%= yield :beers %>
       </h1>
     </section>
   </aside>
 </div>
 